<h1>Apie ūkį</h1>
                    <hr>
                    <p>Ūkio šeimininkai – Edita Pajarskienė.<br>Pagalbininkai – sūnus Simonas ir dukra Laura.
                    </p>
                    <p>Adresas: Švenčionių g. 31, Naujasis Daugėliškis, Ignalinos r.<br>
                        Pašto kodas: 30290<br>
                        Telefono numeris: +37068548357<br>
                        El. paštas: kestutispajarskas@gmail.com<br></p>
                    <table>
                        <tr>
                            <td colspan="2" style="background-color: black; color:white; text-align:center">Dabartinė
                                sėklinimo statistika:</th>
                        </tr>
                        <tr>
                            <td>Iš viso sėklinta:</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Apsėklinta iš pirmo karto:</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Vidutinis sėklinimų skaičius:</td>
                            <td>1.5</td>
                        </tr>
                        <tr>
                            <td>Vidutinis servis periodas:</td>
                            <td>281</td>
                        </tr>
                        <tr>
                            <td>Veršingų skaičius: </td>
                            <td>12</td>
                        </tr>
                    </table>